body {
    background: #e9e9e9;
}

p {
    color: rgb(49, 49, 49);
}

.foto-principal{
    width: 200px;
    border: 2px solid #ffffff; /*shorthand*/
    border-radius: 200px;   
     /* 
    border-width: 5px
    border-style: solid
    border-color: black
    */
    /*border-top-style: solid;    
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;*/
    margin: 30px;
    padding: 10px;

   
}